server {
  listen 443 ssl proxy_protocol http2;
  server_name ${domain/\*};

  ssl_certificate /etc/letsencrypt/live/${cert_name}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${cert_name}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/${cert_name}/chain.pem;

  # Legacy TLS support
  # ssl_ciphers   EECDH+AEAD:EDH+AEAD:EECDH+AES256:EDH+AES256;

  location / {
    proxy_pass http://lb.ecs.be.internal;
  }

  include /etc/nginx/error_pages.conf;
}

