server {
  listen 443 ssl;
  server_name ${naked_domain};

  ssl_certificate /etc/letsencrypt/live/${cert_name}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${cert_name}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/${cert_name}/chain.pem;

  return 301 https://www.\$host\$request_uri;
}
